{% extends 'crm/base.html' %}
{% load static%}

{% block content %}
    <div class="relative w-full overflow-hidden">
        <video autoplay muted loop id="video-background" class="w-full object-cover">
            <source src="{% static 'images/video-background.mp4' %}" type="video/mp4">
        </video>
    </div>
    <div class="content relative z-10">
        <!-- Your content here -->
    </div>

<div class="seperator w-full">
    <img src="{% static 'images/ledled.png' %}" alt="" class="w-full">
</div>

<section class="discover flex flex-col items-center py-12" id="discover" >
    <img src="{% static 'images/header (2).png' %}" alt="" class="w-80 md:w-96 mb-12"> <!-- Adjusted image width for smaller screens -->
    <div class="" style="display: block;">
        
        <div class="md:w-1/2 flex flex-col space-y-5 py-8 text-center" style="display: flex;align-items: center;width: 100%;">
            <h1 class="font-bold text-2xl md:text-5xl g-gray-200 text-red-500 p-8 rounded-lg shadow">               
            {% if request.LANGUAGE_CODE == 'ar' %}
                مسرح ريد روي
            {% elif request.LANGUAGE_CODE == 'fr' %}
                Théâtre Red Roy
            {% else %}
                Red Roy Theater
            {% endif %}
        </h1></h1> <!-- Adjusted text size for smaller screens -->
        <p class="text-sm md:text-base pl-6">
            {% if request.LANGUAGE_CODE == 'ar' %}
                مسرح ريد روي هو فضاء ثقافي متعدد الأنشطة، يضم مسرحًا للعروض الفنية، قاعة سينما لعرض الأفلام، ومقهى اجتماعي. يوفر المقهى مساحة للتلاقي والنقاش، مما يخلق بيئة محفزة للتفاعل والتبادل الثقافي.
            {% elif request.LANGUAGE_CODE == 'fr' %}
                Le Théâtre Red Roy est un espace culturel polyvalent qui comprend une scène pour des spectacles artistiques, une salle de cinéma pour la projection de films et un café social. Le café offre un espace de rencontre et de discussion, créant un environnement propice aux interactions et échanges culturels.
            {% else %}
                Red Roy Theater is a multi-purpose cultural space featuring a theater for artistic performances, a cinema hall for film screenings, and a social café. The café provides a space for gatherings and discussions, fostering an environment of cultural interaction and exchange.
            {% endif %}
        </p>
        </div>
    </div>
    <div class="container mx-auto flex flex-col md:flex-row bg-gradient-to-r from-red-500 to-gray-100 rounded-md hover:scale-105 transition ease" style="
    justify-content: right;
    align-items: center;
">
        <div class="md:w-1/2 flex flex-col space-y-5 py-8 text-center">
            <h1 class="font-bold text-2xl md:text-5xl">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    المقهى الاجتماعي
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Le Café Social
                {% else %}
                    The Social Café
                {% endif %}
            </h1>
            <p class="text-sm md:text-base pl-6" style="font-family: 'Lateef', 'Arial', sans-serif; line-height: 1.5;">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    مكان مفتوح للنقاشات الحرة والتفاعل بين الجمهور والفنانين، بالإضافة إلى الأنشطة الثقافية غير الرسمية.
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Un espace ouvert pour des discussions libres et des interactions entre le public et les artistes, en plus d'activités culturelles informelles.
                {% else %}
                    An open space for free discussions and interactions between the audience and artists, as well as informal cultural activities.
                {% endif %}
            </p>
        
        </div>
        <div class="md:w-1/2 flex items-center" style="
    width: 500px;
    justify-content: right;
">
            <img src="/static/images/cofee.jfif" alt="" class="w-2/3 h-auto border-2 border-red-500 rounded-md transition ease hover:scale-105">
        </div>
    </div>
    <div class="container mx-auto flex flex-col space-y-6 md:flex-row mt-3 bg-gradient-to-r from-amber-200 to-red-500  rounded-md  hover:scale-105 transition ease" style="
    justify-content: left;
">        <div class="md:w-1/2 flex items-center" style="
    width: 500px;
    justify-content: left;
">
           <img src="{% static 'images/discover.jfif' %}" alt="" class="w-2/3 h-auto border-2 border-red-500 rounded-md transition ease hover:scale-105">
        </div>
        <div class="md:w-1/2 flex flex-col space-y-5 py-8 text-center">
            <h1 class="font-bold text-2xl md:text-5xl">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    العروض المسرحية
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Spectacles Théâtraux
                {% else %}
                    Theatrical Performances
                {% endif %}
            </h1>
            <p class="text-sm md:text-base pl-6" style="font-family: 'Lateef', 'Arial', sans-serif; line-height: 1.5;">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    تنظيم مسرحيات وعروض أدائية متنوعة تجمع بين الفن الكلاسيكي والمعاصر.
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Organisation de pièces de théâtre et de performances artistiques variées, alliant art classique et contemporain.
                {% else %}
                    Hosting diverse theatrical plays and performances blending classical and contemporary art.
                {% endif %}
            </p>
       </p> 
        </div>

    </div>
    <div class="container mx-auto flex flex-col  md:flex-row bg-gradient-to-r from-red-400 to-cyan-500 mt-5 rounded-lg hover:scale-105 transition ease" style="
    justify-content: right;
">
        <div class="md:w-1/2 flex flex-col space-y-5 py-8 text-center">
            <h1 class="font-bold text-2xl md:text-5xl">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    ورش عمل تدريبية
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Ateliers de Formation
                {% else %}
                    Training Workshops
                {% endif %}
            </h1>
            <p class="text-sm md:text-base pl-6" style="font-family: 'Lateef', 'Arial', sans-serif; line-height: 1.5;">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    ورش متخصصة في الفنون الأدائية، مثل التمثيل، الإخراج، وتحويل الشخصية المسرحية.
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Ateliers spécialisés dans les arts de la scène, tels que le jeu d'acteur, la mise en scène et la transformation de personnages théâtraux.
                {% else %}
                    Specialized workshops in performing arts, such as acting, directing, and character transformation.
                {% endif %}
            </p>
        </div>
        <div class="md:w-1/2 flex items-center" style="
    width: 500px;
    justify-content: right;
">
            <img src="/static/images/warcha.png" alt="" class="w-2/3 h-auto border-2 border-red-500 rounded-md transition ease hover:scale-105">
        </div>
    </div>

    <div class="container mx-auto flex flex-col space-y-6 md:flex-row mt-3 bg-gradient-to-r from-amber-200 to-red-500  rounded-md  hover:scale-105 transition ease" style="
    justify-content: left;
">        <div class="md:w-1/2 flex items-center" style="
    width: 500px;
    justify-content: left;
">
           <img src="{% static 'images/culture.png' %}" alt="" class="w-2/3 h-auto border-2 border-red-500 rounded-md transition ease hover:scale-105">
        </div>
        <div class="md:w-1/2 flex flex-col space-y-5 py-8 text-center">
            <h1 class="font-bold text-2xl md:text-5xl">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    اللقاءات الثقافية
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Rencontres Culturelles
                {% else %}
                    Cultural Meetups
                {% endif %}
            </h1>
            <p class="text-sm md:text-base pl-6" style="font-family: 'Lateef', 'Arial', sans-serif; line-height: 1.5;">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    تنظيم لقاءات وندوات لمناقشة قضايا ثقافية واجتماعية مع رواد الفكر والفن.
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Organisation de rencontres et de séminaires pour discuter de questions culturelles et sociales avec des intellectuels et des artistes renommés.
                {% else %}
                    Organizing meetups and seminars to discuss cultural and social issues with leading thinkers and artists.
                {% endif %}
            </p>
        </div>

    </div>

    <div class="container mx-auto flex flex-col md:flex-row bg-gradient-to-r mt-3 from-red-500 to-gray-100 rounded-md hover:scale-105 transition ease" style="
    justify-content: right;
">
        <div class="md:w-1/2 flex flex-col space-y-5 py-8 text-center">
            <h1 class="font-bold text-2xl md:text-5xl">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    عروض سينمائية
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Projections Cinématographiques
                {% else %}
                    Film Screenings
                {% endif %}
            </h1>
            <p class="text-sm md:text-base pl-6" style="font-family: 'Lateef', 'Arial', sans-serif; line-height: 1.5;">
                {% if request.LANGUAGE_CODE == 'ar' %}
                    عرض أفلام محلية ودولية، مع جلسات مناقشة للأفلام بعد العروض.
                {% elif request.LANGUAGE_CODE == 'fr' %}
                    Projection de films locaux et internationaux, suivie de sessions de discussion après les projections.
                {% else %}
                    Screening local and international films, with post-screening discussion sessions.
                {% endif %}
            </p>        </div>
        <div class="md:w-1/2 flex items-center" style="
    width: 500px;
    justify-content: right;
">
            <img src="{% static 'images/Red roy cinema.jfif' %}" alt="" class="w-2/3 h-auto border-2 border-red-500 rounded-md transition ease hover:scale-105">
        </div>
    </div>
    
</section>

<section class="cards contact py-12 bg-white text-gray-900" id="contact">
    <div class="container mx-auto">
        <img class="h-48 md:h-64 w-full object-contain" src="{% static 'images/placee.png'%}" alt="">

        <div class="relative rounded-lg overflow-hidden aspect-w-16 aspect-h-9" style="height: 300px;">
            <iframe class="absolute inset-0 w-full h-full rounded-lg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.459485570174!2d10.800818215485062!3d34.773796679224946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1301cda8aa3b20f7%3A0x24cd8a60bd805a49!2s%D9%85%D8%B3%D8%B1%D8%AD%20%D8%B3%D9%8A%D9%86%D9%85%D8%A7%20%D9%85%D9%82%D9%87%D9%89%20Red%20roy%20theater%20cin%C3%A9%20caf%C3%A9%E2%80%AD!5e0!3m2!1sen!2sus!4v1621294551911!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="absolute inset-0 flex items-center justify-center">
                <a href="https://www.google.com/maps/place/مسرح+سينما+مقهى+Red+roy+theater+ciné+café%E2%80%AD/@34.7737967,10.8008182,17z/data=!3m1!4b1!4m6!3m5!1s0x1301cda8aa3b20f7:0x24cd8a60bd805a49!8m2!3d34.7737923!4d10.8033985!16s%2Fg%2F11flqrt8zb?entry=ttu">
                    <div class="bg-red-500 px-6 py-3 rounded-lg shadow-lg">
                    <h3 class="text-2xl font-semibold mb-2 text-white">Red Roy Theater & Cinema Café</h3>
                    <p class="text-lg text-white"><p>
                        {% if request.LANGUAGE_CODE == 'ar' %}
                            زورنا لتجربة مثيرة!
                        {% elif request.LANGUAGE_CODE == 'fr' %}
                            Venez nous rendre visite pour une expérience immersive!
                        {% else %}
                            Visit us for an immersive experience!
                        {% endif %}
                    </p>
                    </p>
                </div>
            </a>
            </div>
        </div>
    </div>
</section>


{% endblock %}
