{% extends 'crm/base.html' %}
{% load static %}

{% block content %}

<div class="container mx-auto flex flex-col-reverse space-y-6 md:flex-row   ">
    <div class="md:w-1/2 flex flex-col space-y-5 py-8 text-center md:text-left">
        <div class="bg-white flex flex-col items-center py-8 rounded-lg">
            <h1 class="text-3xl font-bold text-red-500">Welcome to the Admin Login</h1>
            <p class="text-red-500">Here you can manage all the events, reservations, and posts</p>
            
            <!-- Login Form -->
            <form class="mt-6 w-full max-w-sm">
                <div class="flex flex-col mb-4">
                    <label for="username" class="text-red-500">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" class="bg-gray-200 rounded-lg py-2 px-3 focus:outline-none focus:bg-white focus:shadow-md">
                </div>
                <div class="flex flex-col mb-4">
                    <label for="password" class="text-red-500">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" class="bg-gray-200 rounded-lg py-2 px-3 focus:outline-none focus:bg-white focus:shadow-md">
                </div>
                <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-700 focus:outline-none focus:bg-red-700">Login</button>
            </form>
        </div>
    </div>
    
    
    <div class="md:w-1/2 flex mt-8">
        <img src="{% static 'images/managerr.jpg' %}" class="w-full h-full object-cover rounded-lg">
    </div>
    
</div>
{% endblock %}
