{% extends 'crm/base.html' %}
{% load static %}
<style>
    .d {
        background-image: url("{% static 'images/yiran-ding-TmvSImvV7vA-unsplash.jpg' %}");
    }
</style>
{% block content %}

<div class=" d p-20 h-screen w-screen flex flex-col-reverse md:flex-row items-center justify-center bg-gray-800">
  <div class="content text-3xl text-center md:text-left">
    <h1 class="text-9xl text-red-500 font-bold ">Red Roy</h1>
    <p class="mt-8 text-white font-semibold">{% if request.LANGUAGE_CODE == 'ar' %}
      اكتشف الأفلام والعروض في سينماك ومسرحك المفضل!
  {% elif request.LANGUAGE_CODE == 'fr' %}
      Découvrez des films et des spectacles dans votre cinéma et théâtre préférés!
  {% else %}
      Discover movies and shows at your favorite cinema and theatre.
  {% endif %}</p>
  </div>
  <div class="container mx-auto flex flex-col items-center">
    <form method="post" action="{% url 'login' %}" class="shadow-lg w-96 p-4 flex flex-col bg-white rounded-lg">
      {% csrf_token %}
      <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-700">{% if request.LANGUAGE_CODE == 'ar' %}
          اسم المستخدم
      {% elif request.LANGUAGE_CODE == 'fr' %}
          Nom d'utilisateur
      {% else %}
          Username
      {% endif %}</label>
        <input type="text" name="username" id="username" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
      </div>
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700"> {% if request.LANGUAGE_CODE == 'ar' %}
          كلمة المرور
      {% elif request.LANGUAGE_CODE == 'fr' %}
          Mot de passe
      {% else %}
          Password
      {% endif %}</label>
        <input type="password" name="password" id="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
      </div>
      <div class="flex justify-between items-center">
        <a href="#" onclick="switchModal('loginModal', 'registerModal')" class="text-sm text-blue-500 hover:underline"> {% if request.LANGUAGE_CODE == 'ar' %}
          ليس لديك حساب؟
      {% elif request.LANGUAGE_CODE == 'fr' %}
          Vous n'avez pas de compte?
      {% else %}
          Don't have an account?
      {% endif %}</a>
        <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded-full hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"> {% if request.LANGUAGE_CODE == 'ar' %}
          تسجيل الدخول
      {% elif request.LANGUAGE_CODE == 'fr' %}
          Connexion
      {% else %}
          Login
      {% endif %}</button>
      </div>
    </form>
    <p class="text-center text-sm my-4">
    </p>
  </div>
</div>

{% endblock %}
